---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum" topRightNav="back" topRightPath="/">
  <section>
    <div class="container">
      <h2>Impressum:</h2>
      <p><strong>Angaben gemäß § 5 TMG</strong></p>
      <br />

      <p>
        Nicholas Dalby<br />
        Belziger Str. 23<br />
        Berlin 10823<br />
      </p>
      <br />
      <p>
        Telefon: +49 15903 899 865<br />
        E-Mail: hello(at)nickdalby.com
      </p>
    </div>
  </section>
</Layout>
