---
import Projects from '../components/Projects.astro'
import AllProjects from '../components/AllProjects.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Projects" topRightNav="back" topRightPath="/">
  <section id="projects"> 
    <AllProjects />
  </section>
</Layout>
